@{
    ViewBag.Title = "Home Page";
}

<div class="box">
    <img src="~/Images/profile-pic.png" class="box-img"/>
    <h1>AfoCompanion</h1>
    <h4>Made by daniel-san</h4>
    <p>Use this website to check out interesting stats about any avatar, like wins, losses, useful guides, and more...Hope you enjoy 😁😌✌🏽👌🏽 </p>
    <p>Plan to add more things in the future so keep an eye out for that</p>
</div>

