
@{
    ViewBag.Title = "Photos";
}

<div class="photos-header">Photos</div>
<div class="row">
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/Photos/guild-battle.PNG" /></div>
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/Photos/guild-inventory.PNG" />></div>
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/Photos/tower.PNG" />></div>
</div>
<div class="row">
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/crown1.PNG" /></div>
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/crown2.PNG" /></div>
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/crown3.PNG" /></div>
</div>
<div class="row">
    <div class="col-md-4"><img class="photo-section img-responsive" src="~/Images/crown4.PNG" /></div>
</div>